### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Next.js Build Files ###
.next


### Node ###
node_modules

### Sensitive Files ###
.env